
.protocal-tag-page{
    .search-box{

        margin-bottom: 25px;
        .select{
            width:140px;
            margin-right:20px;
        }
        .btnreset{
            margin-left: 20px;
        }
    }
}