@import './../../../assets/css/variables.scss';

    .edit-basic-information{
        .reset-select{
            padding-top: $gap/2;
            .reset{
                padding-top: $gap/2;
            }
        }
        .but{
            height: 50px;
            line-height: 50px;
            text-align: right;
            .cancel{
                margin-left: $gap;
            }
        }
    }