@import '../../../../../assets/css/variables.scss';

.commercialInfo{
    .marginFR{
        margin: $gap;
    }
    .explain{
        font-size: 12px;
        font-weight: normal;
        padding-left: 30px;
    }
    .input{
        width: 500px;
    }
    .fromModification{
        float: right;
        color: $warnColor;
        font-size: 14px;
    }
}
