@import './../../../assets/css/variables.scss';

.authorize-page{
    .page-content-header{
        height: max-content;
        background-color: $sectionBgColor;
        padding: $gap * 2/3 $gap;
        margin-bottom: $gap;
        .page-name{
            height:28px;
            font-size: $titleFontSize;
            font-family:PingFangSC-Medium;
            font-weight:500;
            color:rgba(0,0,0,0.85);
            line-height:28px;
        }
        .input-wrapper{
            width: 40%;
        }
    }
    .title-content{
        background-color: #fff;
        padding: $gap;
    }
    .ant-divider{
        margin: 0 4px;
    }
    table{
        table-layout: fixed;
        td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .colordot:before{
        content:" ";
        display: inline-block;
        margin:0 6px 2px 0;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #F04242;
    }
    .colordot{
        display: inline-block;
    }
    .colordotred:before{
        background-color: #F04242;
    }
    .colordotgreen:before{
        background-color: #1AC41C;
    }
    .searchgroupbox{
        display: inline-block;
        width: 400px;
    }
    
}
.searchlistbox{
    padding-left: 128px;
    .searchbox{
        margin-bottom: 10px;
        width:450px;
    }
    // .modname{
    //     color: #000000d9;
    //     margin-left: -90px;
    // }
    // border: 1px dotted silver;
    
    
}