@import '../../../../../assets/css/variables.scss';

.productlabelpage{
    background: #e9e9e9;
    padding: 24px;
    .contbox{
        padding: 24px;
        background-color: #fff;
    }
    .labeltable{
        margin: 24px 0;
        width: 100%;
        th,td{
            padding: 16px;
            text-align: left;
        }
        thead,tr{
            border-bottom: 1px solid #E9E9E9;
        }
        thead{
            th{
                font-weight: 500;
            }
            background-color: #FAFAFA;
        }


    }
    .list-pagination{
        height: max-content;
        padding: 0 $gap $gap 0;
        .self-pa{
            width: max-content;
            float: right;
        }
    }
}